/*
Base style
*/
body {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans JP","Kaisei Decol", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;  
    
    background-image: url("./images/mori.png"); 
    
    /* 画像を画面いっぱいに広げる設定 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* 通常の太さ (400) */
.normal-text {
    font-weight: 400;
}

/* 太字 (700) */
.bold-text {
    font-weight: 700;
}

/*
section
*/
.section{
    padding: 0 0;
}

.section.section-secounday{
    
}
.section-headline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;

    z-index: 1000;

    /* 今ある設定 */
    font-family: "Dancing Script","Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: #ece2d0;
    border-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
}
.section-headline span{
    font-size: 16px;
    font-family: "Kaisei Decol","Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    margin-top: 5px;
}


/* .rect{
    width: fit-content;
    height: 300px;
    background-color: #efefef;
} */

/*
about
*/
.about{
    margin: 0;
    display: flex;

}
.about-image{

}
.about-caption{
    padding-left: 0;

}
.about-headline{
    font-family: "Kaisei Decol","Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    margin: 0 0 20px;
    font-size: 30px;

    background-color: #efefef;
    background-size: cover;
    padding: 10px;
}

.about-description{
    font-family: "Kaisei Decol","Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 18px;
}

.about-div img{
    width: 100%;
    height:  auto;
    animation: fadein 2s ease-out 0.5s forwards; /* 最後に 0.5s（秒）遅らせる設定を追加 */
    opacity: 0; /* 最初は隠しておく */
}

.grid{
    margin: 0;
    padding: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item{
    list-style: none;
}
.grid-col-2 > .grid-item{
    width: 50%;
    
}

.grid-col-3 > .grid-item{
    width: 33.3%;
    
}

.grid-col-4 > .grid-item{
    width: 25%;
}
/* .about-description{

} */


.feature{
    text-align: center;
    padding: 0 15px;
}
.feature-headline{
    font-weight: bold;
    margin: 0 0 20px;
}
.feature-image{
    margin: 0 0 20px;
}
.feature-description{
    margin: 0;
    text-align: left;
}

/*アニメーション*/
@keyframes fadein {
  from {
    opacity: 0;           /* 最初は透明 */
    transform: translateY(20px); /* 少し下側に置いておく */
  }
  to {
    opacity: 1;           /* 最後はくっきり */
    transform: translateY(0);    /* 本来の位置に戻る */
  }


  
}

.photo-slider {
    width: 60%;
    max-width: 600px;
    height: 300px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.prev {
    opacity: 0;
    transform: translateX(-100%);
}


/* スマホ */
@media screen and (max-width: 600px) {

    .photo-slider {
        width: 90%;
        height: 220px;
        margin: 30px auto;
    }

}